@font-face {
    font-family: "inter";
    src: local(/font/Inter/Inter-VariableFont_slnt,wght.ttf);
    
    
}

#charts {
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    width: 80%;
    margin: 2% 8% 2% 8%;

    /*padding: 1%;*/
    /*padding-right: 1%;*/
    border-radius: 0.8rem;
}

#first_chart {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 0.8rem;
    width: 80%;
    height: 80%;

    background-color: rgba(255,255,255,0.3);
    margin: 1% 1% 1% 10%;
}

#text {
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    margin: 5% 2% 4% 7%;
	width: 80%;
    height: 70%;
    padding: 1% 1% 5% 1%;
    border-radius: 0.8rem;
    filter: blur(0px);
	/*box-shadow: 6px -5px 10px rgba(255,255,255,0.2);*/
}
article {
    background-color: rgba(255,255,255,0.3);
    margin: 2% 2% 5% 10%;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 0.8rem;
    width: 80%;
    box-shadow: 0px 40px 50px rgba(255,255,255,0.3);
    
}

body{
    margin: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to bottom right, rgb(252,171,230), rgb(181,186,238)) fixed;
    font-family:  "inter", sans-serif;
	
    
}

h1 {
    text-align: center;
}
p {
    text-align: center;
    
}

span {
    padding: 0.1% 0.2% 0.1% 0.2%;
	color: violet;
	background: black;
	border-radius: 0.2rem;
	box-shadow: 3px 2px 3px black;
}

#gls {
	font-family; sans-serif;
	color: rgba(115,230,66,1);
	/*background-color: black;*/
	border: 10px 10px 10px;
    background: black;
}
#ident {
	/*background: linear-gradient(to bottom right, black, gray);*/
}